@import url('bootstrap-select.css');
@import url('bootstrap-tagsinput.css');
@import url('codemirror.css');
body {
  padding-top:50px;
}
#editor-toolbar {
    border-right-width: 0px;
}
#preview-toolbar {
    border-left-width: 0px;
}
#preview-toolbar,#editor-toolbar {
  padding: 0px;
}

.layout {
    padding: 0px;
}

ul.nav li a {
    position: relative !important;
    overflow: hidden;
}
ul.nav li a input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 1px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.bootstrap-tagsinput {
    width: 100%;
}
.modal-body .form-group {
    margin-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
}
.no-gutter [class*="-6"] {
    padding-left:0;
}
.navbar-brand
{
    position: absolute;
    left: 0;
    margin: 0;
    padding-left: 2px;
}
@font-face {
  font-family: 'DDC Uchen';
  src: url('../fonts/DDC_Uchen.ttf');
}
.uchen {
  font-family: 'DDC Uchen', 'Kokonor', 'Microsoft Himalaya';
  font-size: 18px;
}
.uchen a {
  text-decoration: none;
}
.syllables {
  display: inline-block;
}
.syllables > span {
  display: none;
}
.syllables > span.uchen {
  display: block;
}
.wylie,
.english,
.phonetics {
  font-size: smaller;
  height: 1em;
  text-align: center;
}
span.english {
  white-space: pre-wrap;
}