dt[lang=bo],
body[lang=bo],
span[lang=bo],
div[lang=bo],
p[lang=bo] {
  font-size: 24px;
}
dt[lang=bo] + dd {
  font-size: 18px;
  line-height: 2.2em;
}

#main-toolbar.navbar-collapse.collapse {
  /*background: white;*/
}

/* iphone 6 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  body {
    padding-top: 0px;
  }

  .navbar-fixed-top {
    position: relative !important;
  }

  .breadcrumb-fixed-top {
    position: relative;
    margin-top: 30px;
  }

  #editorapp {
    min-height: 500px;
    margin-top: 0px;
  }

  body > h1:first-child {
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0 0 10px 10px;
    color: black;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
    z-index: 900; 
  }

  a.btn {
    font-size: 10px;
  }

  #editor-upload, #editor-download, #preview-export {
    display: none;
  }
}


@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
  body {
    padding-top: 0px;
  }

  .navbar-fixed-top {
    position: relative !important;
  }

  .breadcrumb-fixed-top {
    position: relative;
    margin-top: 30px;
  }

  #editorapp {
    min-height: 500px;
    margin-top: 0px;
  }

  body > h1:first-child {
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0 0 10px 10px;
    color: black;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
    z-index: 900; 
  }

  a.btn {
    font-size: 10px;
  }

  #editor-upload, #editor-download, #preview-export {
    display: none;
  }
}

/* iphone 5 */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
  body {
    padding-top: 0px;
  }

  .navbar-fixed-top {
    position: relative !important;
  }

  .breadcrumb-fixed-top {
    position: relative;
    margin-top: 30px;
  }

  #editorapp {
    min-height: 500px;
    margin-top: 0px;
  }

  body > h1:first-child {
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0 0 10px 10px;
    color: black;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
    z-index: 900; 
  }

  a.btn {
    font-size: 10px;
  }

  #editor-upload, #editor-download, #preview-export {
    display: none;
  }
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) {
  body {
    padding-top: 0px;
  }

  .navbar-fixed-top {
    position: relative !important;
  }

  .breadcrumb-fixed-top {
    position: relative;
    margin-top: 30px;
  }

  #editorapp {
    min-height: 500px;
    margin-top: 0px;
  }

  body > h1:first-child {
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0 0 10px 10px;
    color: black;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
    z-index: 900; 
  }

  a.btn {
    font-size: 10px;
  }

  #editor-upload, #editor-download, #preview-export {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    padding-top: 0px;
  }

  .navbar-fixed-top {
    position: relative !important;
  }

  .breadcrumb-fixed-top {
    position: relative;
    margin-top: 30px;
  }

  #editorapp {
    min-height: 500px;
    margin-top: 0px;
  }

  body > h1:first-child {
    position: relative;
    top: 0px;
    margin: 0;
    padding: 0 0 10px 10px;
    color: black;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
    z-index: 900; 
  }

  a.btn {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    } 

  body {
    padding-top: 83px;
  }

  .navbar-fixed-top {
    background-color: #f9f9f9 !important;
  }

  .breadcrumb-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 63px;
    z-index: 900;  
  }

  #editorapp {
    min-height: 500px;
    margin-top: 55px;
  }

  #editorapp nav {
    margin: 0;
  }

  body > div:first-child.container {
    padding-top:33px;
  }

  body > h1:first-child {
    position: fixed;
    top: 40px;
    margin: 0;
    padding: 0 0 10px 10px;
    color: black;
    width: 100%;
    text-align: left;
    background-color: #f9f9f9;
    z-index: 900; 
  }
}

.row-footer {
  background-color: #f5f4f0;
  margin: 0px auto;
  padding: 20px 0px 20px 0px; 
}

.jumbotron {
  padding: 0px 30px 70px 30px;
  margin: 0px auto;
  background: transparent;
}

address {
  font-size: 80%;
  margin: 0px;
}

.row-footer div.nav.navbar-nav {
  padding-top: 0;
}

main {
  min-height: 50em;
}

/** Editor Uchen output **/
@font-face {
  font-family: 'DDC Uchen';
  src: url('../fonts/DDC_Uchen.ttf');
}
.uchen {
  font-family: 'DDC Uchen', 'Kokonor', 'Microsoft Himalaya';
  font-size: 3em;
}
.uchen a {
  text-decoration: none;
}
.syllables {
  display: inline-block;
}
.syllables > span {
  display: none;
}
.syllables > span.uchen {
  display: block;
}
.wylie,
.english,
.phonetics {
  font-size: smaller;
  height: 1em;
  text-align: center;
}
span.english {
  white-space: pre-wrap;
}
.stage0 span.english,
.stage0 span.phonetics {
  display: block;
}
.stage0 span.word .uchen {
  margin: 0 0.5em 0 0.5em;
}
.stage1 span.word .uchen {
  margin: 0 0.25em 0 0.25em;
}
.stage1 span.english {
  display: block;
}