dt[lang=bo],
body[lang=bo],
span[lang=bo],
div[lang=bo],
p[lang=bo] {
  font-size: 24px;
}
dt[lang=bo] + dd {
  font-size: 18px;
  line-height: 2.2em;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    } 
}

.row-footer {
  background-color: #f5f4f0;
  margin: 0px auto;
  padding: 20px 0px 20px 0px; 
}

.jumbotron {
  padding: 0px 30px 70px 30px;
  margin: 0px auto;
  background: transparent;
}

address {
  font-size: 80%;
  margin: 0px;
}

body {
  padding-top: 83px;
}

.row-footer div.nav.navbar-nav {
  padding-top: 0;
}

.navbar-fixed-top {
  background-color: #f9f9f9 !important;
}

.breadcrumb-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 63px;
  z-index: 900;  
}

#editorapp {
  min-height: 500px;
  margin-top: 50px;
}

body > h1:first-child {
  position: fixed;
  top: 40px;
  margin: 0;
  padding: 0 0 10px 10px;
  color: black;
  width: 100%;
  text-align: left;
  background-color: #f9f9f9;
  z-index: 900; 
}