    <h1 class="label">Gathering Understanding</h1>
    <nav class="navbar navbar-fixed-top navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-toolbar">
            <span class="sr-only">View Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="https://avatars0.githubusercontent.com/u/521090?v=3&s=460" width="30px" height="30px" class="img-circle" alt="Picture of Me, Leanne Northrop"></a>
        </div>

        <div class="collapse navbar-collapse" id="main-toolbar">
          <ul class="nav navbar-nav">
            <li><a href="http://leannenorthrop.github.io">Home</a></li>
            <li><a href="http://leannenorthrop.github.io/blog/">Dev Musings</a></li>
            <li class="active"><a href="{{ site.baseurl }}/index.html">Tibetan <span class="sr-only">(current)</span></a></li>
            <li><a href="http://leannenorthrop.github.io/css-playground">Graphics</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <ol class="breadcrumb breadcrumb-fixed-top">
      <li>
        <a href="http://leannenorthrop.github.io">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
        </a>
      </li>

  {% if page.sitehome %}
      <li class="active">Tibetan</li>
  {% else %}
      <li>
        <a href="{{ site.baseurl }}/index.html">Tibetan</a>
      </li>
  {% endif %}

  {% if page.archive %}    
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{ page.catheading}}</a></li>
      <li class="active">Archive</li>
  {% elsif page.tag == 'vocab' %}
    {% if page.index %}
      <li><a href="{{ site.baseurl }}/resource/index.html">Resources</a></li>
      <li><a href="{{ site.baseurl }}/{{ page.category }}/vocab/index.html">Vocabulary Lists</a></li>
      <li class="active">{{ site.data.stages[page.stage].name }}</li>
    {% else %}
      <li><a href="{{ site.baseurl }}/resource/index.html">Resources</a></li>
      <li><a href="{{ site.baseurl }}/{{ page.category }}/vocab/index.html">Vocabulary Lists</a></li>
      <li><a href="{{ site.baseurl }}/{{ page.category }}/vocab/{{ page.stage }}.html">{{ site.data.stages[page.stage].name }}</a></li>
      <li class="active">{{ page.heading }}</li> 
    {% endif %}
  {% elsif page.index %}
    {% if page.stage %}
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{ page.catheading }}</a></li>
      <li class="active">Stage {{ page.stage | replace: 'stage', '' }}</li>  
    {% else %}
      <li class="active">{{ page.heading }}</li>
    {% endif %}
  {% elsif page.stage %}
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{ page.catheading }}</a></li>
      <li><a href="{{ site.baseurl }}/{{ page.category }}/{{ page.stage }}/index.html">{{ site.data.stages[page.stage].name }}</a></li>
      <li class="active">{{ page.heading }}</li>
  {% elsif page.post %}
    {% if page.title %}
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{ page.catheading }}</a></li>
      <li>{{ page.heading }}</li>
      <li class="active">{{ page.title }}</li>
    {% else %}
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{ page.catheading }}</a></li>
      <li class="active">{{ page.heading }}</li>
    {% endif %}
  {% elsif page.hastag %}
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{ page.catheading }}</a></li>
      <li>{{ page.heading }}</li>
      <li class="active">{{ page.title }}</li>
  {% elsif page.tagpage %}
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{page.catheading}}</a></li>
      <li>By Tag</li>
      <li class="active">{{page.tag}}</li>
  {% elsif page.category %}
      <li><a href="{{ site.baseurl }}/{{ page.category }}/index.html">{{ page.catheading }}</a></li>
      <li class="active">{{ page.heading }}</li>
  {% elsif page.sitemap %}
      <li class="active">All Posts</li>
  {% endif %}    
    </ol>