    <div class="container">
        <div class="page-header">
            <h1>Tibetan 
                <small>{{page.heading}} 
                    {% if page.stage %}
                    <small>Stage {{page.stage | replace: 'stage', ''}}</small>
                    {% endif%}
                </small> 
                {% if page.tag == 'vocab'%}
                    {% if page.voclistname %}
                <span class="label label-info"><a target="_blank" style="color: white;" href="{{site.baseurl}}{{page.url || replace: '.html', 'p.html'}}">Print Me</a></span>
                    {% endif %}
                {% endif %}
            </h1>
            <!--p class="lead">Thoughts, Gists, and Guides on Programming</p-->
        </div>
      <div class="row">