        <div class="col-xs-12 col-sm-2 col-sm-offset-1 sidebar">
          <h4>Tools &amp; Games</h4>
          <ul class="list-unstyled">
            <li><a href="#">Learn this List <i class="fa fa-clone fa-fw pull-left"></i></a></li>
            <li><a href="#">Flash Cards <i class="fa fa-print fa-fw pull-left"></i></a></li>
            {% for game in page.games %}
              {% if site.data.games[game] %}
                <li><a href="{{site.baseurl}}{{site.data.games[game].url}}">{{site.data.games[game].name}} <i class="fa fa-trophy fa-fw pull-left"></i></a></li>
              {% endif %}
            {% endfor %}
          </ul>
          <!--div>
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/leannenorthrop">GitHub</a></li>
              <li><a href="https://twitter.com/flowerdew">Twitter</a></li>
              <li><a href="https://www.linkedin.com/profile/view?id=129749666">LinkedIn</a></li>
            </ol>
          </div-->
        </div><!-- /.sidebar -->  
      </div><!-- /.row -->

    </div><!-- /.container -->