<div>
<div class="modal fade" id="editorConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Configure</h4>
      </div>
      <div class="modal-body">
        <form class="form" style="margin-top: 0.2em">
          <div class="form-group">
            <label>Theme
              <select id="themeSelector" class="selectpicker show-tick" data-width="auto" data-header="Select Editor Theme">
                <optgroup label="Bright">
                  <option value="ace/theme/chrome">Chrome</option>
                  <option value="ace/theme/clouds">Clouds</option>
                  <option value="ace/theme/crimson_editor">Crimson Editor</option>
                  <option value="ace/theme/dawn">Dawn</option>
                  <option value="ace/theme/dreamweaver">Dreamweaver</option>
                  <option value="ace/theme/eclipse">Eclipse</option>
                  <option value="ace/theme/github">Git Hub</option>
                  <option value="ace/theme/katzenmilch">Katzenmilch</option>
                  <option value="ace/theme/kuroir">Kuroir</option>
                  <option value="ace/theme/solarized_light">Solarized (Light)</option>
                  <option value="ace/theme/textmate">Textmate</option>
                  <option value="ace/theme/tomorrow">Tomorrow</option>
                  <option value="ace/theme/xcode">XCode</option>
                </optgroup>
                <optgroup label="Dark">
                  <option value="ace/theme/ambiance">Ambiance</option>
                  <option value="ace/theme/chaos">Chaos</option>
                  <option value="ace/theme/clouds_midnight">Clouds Midnight</option>
                  <option value="ace/theme/cobalt">Cobalt</option>
                  <option value="ace/theme/idle_fingers">Idle Fingers</option>
                  <option value="ace/theme/kr_theme">KR Theme</option>
                  <option value="ace/theme/merbivore">Merbivore</option>
                  <option value="ace/theme/merbivore_soft">Merbivore Soft</option>
                  <option value="ace/theme/mono_industrial">Mono Industrial</option>
                  <option value="ace/theme/monokai">Monokai</option>
                  <option value="ace/theme/pastel_on_dark">Pastel on Dark</option>
                  <option value="ace/theme/solarized_dark">Solarized (Dark)</option>
                  <option value="ace/theme/terminal">Terminal</option>
                  <option value="ace/theme/tomorrow_night">Tomorrow Night</option>
                  <option value="ace/theme/tomorrow_night_blue">Tomorrow Night (Blue)</option>
                  <option value="ace/theme/tomorrow_night_bright">Tomorrow Night (Bright)</option>
                  <option value="ace/theme/tomorrow_night_eighties">Tomorrow Night (80s)</option>
                  <option value="ace/theme/twilight">Twilight</option>
                  <option value="ace/theme/vibrant_ink">Vibrant Ink</option>
                </optgroup>
              </select>
            </label>
          </div>
          <div class="form-group">
            <label>Font Size
              <select id="fontSize" class="selectpicker show-tick" data-width="auto" data-header="Select Font Size">
                <option value="7pt">7 pt</option>
                <option value="8pt">8 pt</option>
                <option value="9pt">9 pt</option>
                <option value="10pt">10 pt</option>
                <option value="11pt">11 pt</option>
                <option value="12pt">12 pt</option>
                <option value="13pt">13 pt</option>
                <option value="14pt">14 pt</option>
                <option value="16pt">16 pt</option>
                <option value="18pt">18 pt</option>
                <option value="20pt">20 pt</option>
                <option value="22pt">22 pt</option>
                <option value="24pt">24 pt</option>
              </select>
            </label>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" id="wrap">Wrap</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" id="showMargin">Display Margin</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" id="showCurrentLine">Display Current Line</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>
