<div>
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="layout col-xs-12 col-sm-6 no-gutter left-side">
        <nav class="navbar navbar-inverse" style="border-right-width:0px;margin-bottom:0;">
          <a class="navbar-brand"><i class="fa fa-spinner fa-pulse"></i></a>
          <div id="editor-toolbar" class="navbar-left"></div>
        </nav>    
        <div id="left-col"></div>
      </div>
      <div class="layout col-xs-12 col-sm-6 no-gutter right-side">
        <nav class="navbar navbar-inverse" style="border-left-width:0px;margin-bottom:0;">
          <a class="navbar-brand"><i class="fa fa-spinner fa-pulse"></i></a>
          <div id="preview-toolbar" class="navbar-left"></div>
        </nav>
        <div id="right-col"></div>
      </div>
    </div>
  </div>
</div>
