<div>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div id="toolbar" class="container-fluid">
    <div class="navbar-header">
      <i class="fa fa-pencil-square-o fa-2x pull-left" style="color:white;padding:12px 0px;"></i>
    </div>
    <a class="navbar-brand"><i class="fa fa-spinner fa-pulse"></i></a>
    <div class="navbar-collapse collapse">
      <div id="editor-toolbar" class="navbar-left"></div>
      <div id="preview-toolbar" class="navbar-right"></div>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="layout row no-gutter">
    <div id="left-col" class="col-xs-6 col-sm-6 col-md-6"></div>
    <div id="right-col" class="col-xs-6 col-sm-6 col-md-6"></div>
  </div>
</div>
</div>
