<div>
<div class="modal fade" id="editorConfigModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Configure</h4>
      </div>
      <div class="modal-body">
        <form class="form" style="margin-top: 0.2em">
          <div class="form-group">
            <label>Theme
              <select id="themeSelector" class="selectpicker show-tick" data-width="auto" data-header="Select Editor Theme">
                <optgroup label="Bright">
                  <option value="3024-day">3024 Day</option>
                  <option value="ambiance-mobile">Ambiance Mobile</option>
                  <option value="base16-light">Base 16</option>
                  <option value="eclipse">Eclipse</option>
                  <option value="elegant">Elegant</option>
                  <option value="mdn-like">Mdn-like</option>
                  <option value="neat">Neat</option>
                  <option value="neo">Neo</option>
                  <option value="paraiso-light">Paraiso</option>
                  <option value="solarized">Solarized</option>
                  <option value="xq-light">XQ</option>
                </optgroup>
                <optgroup label="Dark">
                  <option value="3024-night">3024</option>
                  <option value="ambiance">Ambiance</option>
                  <option value="base16-dark">Base 16</option>
                  <option value="blackboard">Blackboard</option>
                  <option value="cobalt">Cobalt</option>
                  <option value="erlang-dark">Erlang</option>
                  <option value="lesser-dark">Lesser</option>
                  <option value="monokai">Monokai</option>
                  <option value="pastel-on-dark">Pastel</option>
                  <option value="paraiso-dark">Paraiso</option>
                  <option value="mbo">Mbo</option>
                  <option value="the-matrix">Matrix</option>
                  <option value="midnight">Midnight</option>
                  <option value="night">Night</option>
                  <option value="rubyblue">Ruby Blue</option>
                  <option value="tomorrow-night-bright">Tomorrow Night Bright</option>
                  <option value="tomorrow-night-eighties">Tomorrow Night 80s</option>
                  <option value="twilight">Twilight</option>
                  <option value="vibrant-ink">Vibrant Ink</option>
                  <option value="xq-dark">XQ</option>
                  <option value="zenburn">Zenburn</option>
                </optgroup>
              </select>
            </label>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" id="wrap">Wrap</label>
            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" id="showGutter">Display Margin</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
</div>
