<div>
<nav class="navbar navbar-fixed-top navbar-inverse">
  <div id="toolbar" class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
    </div>
    <div id="editor-toolbar" class="navbar-left"></div>
    <div id="preview-toolbar" class="navbar-right"></div>
  </div>
</nav>
<div class="container-fluid">
  <div class="layout row">
    <div id="left-col" class="col-xs-6 col-sm-6 col-md-6"></div>
    <div id="right-col" class="col-xs-6 col-sm-6 col-md-6"></div>
  </div>
</div>
</div>
