<div>
  <ul class="nav navbar-nav">
    <li role="presentation" class="dropdown" id="format-menu">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
        <span>Format: </span><span id="currentFormatLabel"></span><span class="caret"></span>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li class="dropdown-menu-item" data-value="html">
          <a role="menuitem" tabindex="-1" href="#">HTML</a>
        </li>
        <li class="dropdown-menu-item" data-value="md">
          <a role="menuitem" tabindex="-1" href="#">MarkDown</a>
        </li>
        <li class="dropdown-menu-item" data-value="article">
          <a role="menuitem" tabindex="-1" href="#">Article</a>
        </li>
        <li class="dropdown-menu-item" data-value="raw">
          <a role="menuitem" tabindex="-1" href="#">Original</a>
        </li>
      </ul>
    </li>
    <li role="presentation" id="preview-export">
      <a href="#">
        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
      </a>
    </li>
    <!--li role="presentation" id="preview-save">
      <a href="#">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </a>
    </li-->
    <li role="presentation" id="preview-resize">
      <a href="#">
        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
      </a>
    </li>
  </ul>
</div>
