<div>
  <div class="btn-toolbar" role="toolbar" aria-label="...">
    <select id="formatSelector" class="selectpicker show-tick" data-width="auto" data-header="Select Format">
      <option value="html">HTML</option>
      <option value="md">Markdown</option>
      <option value="raw">Raw</option>
    </select>
    <div id="preview_btns" class="btn-group btn-group-sm" role="group" aria-label="..." style="float:right">
      <button type="button" class="export btn btn-default" aria-label="Export">
        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
      </button>
      <button type="button" class="save btn btn-default" aria-label="Save">
        <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>
      </button>
      <button type="button" class="screen btn btn-default" aria-label="Full Screen">
        <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
