<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
  {% include nav.html %}

  {% if page.lessonsarchive %}
  {%   include lesson_archive_header.html %}
  {% elsif page.lessonshome %}
  {%   include lesson_home_header.html %}
  {% elsif page.plain %}
  {%   include page_header.html %}
  {% elsif page.justnav %}
  {% else %}
  {%   include header.html %}
  {% endif %}  

  {{ content }}

  {% if page.justnav %}
  {% else %}
  {%   include foot.html %}
  {% endif %}

  {% include footer.html %}
  </body>
</html>
