<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
  {% include nav.html %}
  {% include page_header.html %}
      <div class="row">
        <div class="col-xs-12">
          <a href="{{ site.baseurl }}{{ page.archive-path }}">{{page.archive-name}}</a>
        </div>
      </div>
      
        <div class="col-xs-12">
        {% if page.stage %}
          {% assign posts = site.posts | where: "category", page.category %}
        {% elsif page.index %}
          {% assign posts = site.posts | where: "category", page.category %}
        {% elsif page.hastag %}
          {% assign posts = site.posts | where: "tag", page.hastag %}
        {% elsif page.category %}
          {% assign posts = site.posts | where: "category", page.category %}          
        {% endif %}

          {% for post in posts %}

          {%   if post.stage == page.stage %}
            {%   if post.indexignore %}
            {%   else %}
          {%     cycle '<div class="row">', '', '' %}
            <div class="col-xs-12 col-sm-4">
              <h2><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a> <small>{{post.date | date_to_long_string}}</small></h2>
              {{ post.excerpt }}                
            </div>
          {%     cycle '', '', '</div>' %}
          {%     if forloop.index == forloop.last %}
            </div>
          {%     endif %}
          {%    endif %}  
          {%   endif %}

          {% endfor %}
          </div>
        </div><!-- /index -->

  {% if page.justnav %}
  {% else %}
  {%   include foot.html %}
  {% endif %}
  {% include footer.html %}
  </body>
</html>
